<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="org.jetbrains.kotlin.kotlin-stdlib" xmlns="urn:jboss:module:1.9">

    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <resource-root path="kotlin-stdlib-1.7.10.jar"/>
        <resource-root path="kotlin-stdlib-common-1.7.10.jar"/>
        <resource-root path="kotlin-stdlib-jdk8-1.7.10.jar"/>
        <resource-root path="kotlin-stdlib-jdk7-1.7.10.jar"/>
    </resources>

</module>
