<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xml="http://www.w3.org/XML/1998/namespace"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>web1</display-name>

    <servlet>
        <servlet-name>frontServlet</servlet-name>
        <servlet-class>ru.lexender.ifmo.web1.FrontServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>frontServlet</servlet-name>
        <url-pattern>/front</url-pattern>
    </servlet-mapping>
</web-app>
